.content-login{
	margin-top: 170px;
}

.content-register{
	margin-top: 100px;
}

.content{
	margin-top: 150px;
}

.react-calendar{
	width:100% !important;
}

.line{
	background-color:#8b2baa !important;
}
.paragraph{
	//background-color: #a333c8 !important;	
}

.line:before, .line:after{
	background-color: #8b2baa !important
}

.ui.pagination.menu .active.item, .ui.menu .item{
	color:white !important;
}

@media (max-width: 600px) {
	.content-login, .content-register{
		margin-top: 80px;
	}

	.content{
		margin-top: 100px;
	}
}
