.navbar{
	text-align: left;
	height: 50px;
	padding-top: 50px;
	padding-right: 50px;
	text-align: right;
	
}

.nav-item{
	color: 'white';
	text-decoration: none;
	font-size: 22px;
	padding: 8px;
	height: 50px;
	margin: 18px;
}

.nav-item:hover{
	transform: scale(1.2);
}

.icon:hover{
	color: #ACACAC;
}


