body {
	margin: 0;
	padding: 0;
	background: #009FFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

* {
  font-family: 'Roboto', sans-serif;
}

a{
	color:white;
}

a:visited{
	color: white;
}

a:hover{
	color: white !important;
}
label{
	color: white !important;
	font-size: 18px !important;
	font-weight: normal !important; 
}





/*custom scrol bar*/
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
  cursor: pointer !important;
}

